.row {
    display: block;
}

#first {
    float:left;
    background-color: lightgray;
    width: 45%;
    border-radius: 15px;
    margin-left: 1%;
}

#first h1 {
    background-color: black;
    color: white;
    height: 50px;
    padding-top: 10px;
    padding-left: 15px;
    margin: 0px; 
    border-radius: 15px 15px 0 0;
}

#first p::first-letter {
    font-size: 40px;
}

#first p{
    padding: 15px 40px;
}

#second {
    float:left;
    background-color: forestgreen;
    border: 5px black solid;
    width: 45%;
    margin-left: 4%;
    box-shadow: 10px 10px 5px #777;
}

#second h1 {
    background-color: orange;
    color: white;
    font-style: italic;
    height: 50px;
    padding-top: 10px;
    padding-left: 15px;
    margin: 0px;
}

#second p {
    color: white;
    padding: 15px 40px;
}

#second p::first-line {
    font-weight: bold;
}

#third {
    margin: 5%;
    float:left;
    width: 90%;
}

#third h1 {
    text-align: center;
}

#third p {
    white-space: nowrap; 
    width: 100%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

#third p:before {
    content: url(cat.jpg);
}
